@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v29-latin-ext_latin-regular.woff);
}

html, body{
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100% !important; /* important to vertically align the container */
	margin:0 auto;
    padding:0;
	font-size: 14px;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one <img draggable="false" class="emoji" alt="🙂" src="https://s.w.org/images/core/emoji/72x72/1f642.png">       */
	display: flex;
	align-items: center;
}

.whiteBox {
    max-width: 900px !important;
    background: white;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 20%);
    -webkit-transition: width 2s;
    transition: width 2s;
    -webkit-transition: height 2s;
    transition: height 2s;
}

@media only screen and (max-width: 576px) {
	html, body{
		background: white !important
	}
	.whiteBox{
		background: transparent; 
		box-shadow: 0 0 0 white !important; 
		position: absolute;
		height: 100%;
		border-radius: .0em !important;
	} 
} 

h1, h2, h3, h4, h5 {
	font-weight: 500;
} 

#external-events {   
	text-align: left;
	
}

#external-events h4 {  
	padding-top: 1em;
}

#external-events .fc-event {
	margin: 3px 3px;
	cursor: move;
}

#calendar .fc-event { 
	margin: 0px 0px;
	cursor: move;
}

#external-events p { 
	margin: 1.5em 1.5em;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#external-events .fc-event{
	padding: 4px 10px 2px 10px; 
	margin: 1px 1px;
	border: 0;
	display: flex;
	float: left;
}

.calendar-wrap { 
}

.calendar { 
	margin: 0 auto;
}

.calendar .fc-event{
	float: none;
	text-overflow: ellipsis;
}